DBT_PROFILES_DIR=.

DBT_DATABRICKS_HOST_DEV=tu_host_dev.azuredatabricks.net
DBT_DATABRICKS_HTTP_PATH_DEV=/sql/1.0/warehouses/tu_path_dev

DBT_DATABRICKS_HOST_PROD=tu_host_prod.azuredatabricks.net
DBT_DATABRICKS_HTTP_PATH_PROD=/sql/1.0/warehouses/tu_path_prod
