# dbt artifacts
logs/
target/
dbt_modules/
dbt_packages/

# Local configuration & secrets
profiles.yml
.env
*.user.yml

# uv & Python environment
.venv/
.uv/
__pycache__/
*.pyc

# IDEs and OS files
.idea/
.vscode/
.DS_Store
